altgraph==0.17.4
asgiref==3.7.2
attrs==23.2.0
base==0.0.0
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
Choco==1.0.5
comtypes==1.4.2
contourpy==1.2.1
crispy-bootstrap5==0.7
cryptography==41.0.6
cycler==0.12.1
defusedxml==0.7.1
Django==4.2.7
django-crispy-forms==2.0
django-extensions==3.2.3
django-filter==23.2
django-taggit==4.0.0
djangorestframework==3.14.0
fonttools==4.51.0
h11==0.14.0
idna==3.4
importlib-metadata==6.8.0
kiwisolver==1.4.5
Markdown==3.4.3
MarkupSafe==2.1.4
matplotlib==3.9.0
numpy==1.26.4
oauthlib==3.2.2
outcome==1.3.0.post0
packaging==24.0
pefile==2023.2.7
pillow==10.3.0
psycopg2==2.9.9
pycparser==2.21
pyinstaller==6.6.0
pyinstaller-hooks-contrib==2024.6
PyJWT==2.7.0
pyparsing==3.1.2
pyperclip==1.8.2
pypiwin32==223
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
PySocks==1.7.1
python-dateutil==2.9.0.post0
python3-openid==3.2.0
pyttsx3==2.90
pytz==2023.3
pywin32==306
pywin32-ctypes==0.2.2
requests==2.31.0
requests-oauthlib==1.3.1
selenium==4.17.2
setuptools==70.0.0
six==1.16.0
sniffio==1.3.0
social-auth-app-django==5.2.0
social-auth-core==4.4.2
sortedcontainers==2.4.0
sqlparse==0.4.4
trio==0.24.0
trio-websocket==0.11.1
typing_extensions==4.7.1
tzdata==2023.4
urllib3==2.0.7
users==1.0.dev0
wsproto==1.2.0
zipp==3.15.0
